version: '3.1'

services:
  springboot:
    build: ./server
    # image: registry.gitlab.com/idgst/springboot-mongo-demo:latest
    restart: always
    container_name: extracleaning-spring
    ports:
      - 8080:8080
    working_dir: /opt/app
    depends_on:
      - mongo

  mongo:
    image: mongo
    container_name: springboot-mongo
#    ports:  # for demo/debug purpose only
#      - 27018:27017
    volumes:
      - $HOME/mongo-data:/data/db
      - $HOME/mongo-datacd:/data/bkp
    restart: always

  web:
    build: ./web
    restart: always
    container_name: extracleaning-angular-web
    ports:
      - 80:80
