<section class="probootstrap_section" id="section-contacts">
  <div class="row text-center ">
    <div class="col-md-12">
      <h2 class="display-4 border-bottom probootstrap-section-heading">Контакты</h2>
    </div>
  </div>
</section>


<section class="probootstrap-section-half d-md-flex">
  <div class="probootstrap-image "  style="background-image: url(assets/images/img_2.jpg)"></div>
  <div class="probootstrap-text">
    <div class="probootstrap-inner ">
      <p>Адрес</p>
      <h5 class="mb-3">Краснодар ул.Калинина 390</h5>
      <p>Телефон</p>
      <h5 class="mb-3"> +7 (861) 243-97-98</h5>
      <p>Почта</p>
      <h5 class="mb-3">xclean23@gmail.com</h5>

      <p><button [ngx-scroll-to]="'section-welcome'" class="btn btn-primary margin-top" >Заказать химчистку</button></p>

    </div>
  </div>
</section>
