<!--<div class="container">-->

  <!--<div style="margin-left: 55px">-->
    <!--<mat-spinner></mat-spinner>-->
  <!--</div>-->

  <!--<div class="top-offset-10">-->
    <!--<h2 mat-dialog-title>Пожалуйста, подождите</h2>-->
  <!--</div>-->



<!--</div>-->



<div class="modal-header">
  <h4 class="modal-title">ExtraCleaning</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Пожалуйста, подождите</p>
</div>
<!--<div class="modal-footer">-->
  <!--<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>-->
<!--</div>-->
