<nav class="navbar navbar-expand-lg navbar-dark probootstrap_navbar" id="probootstrap-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">ExtraCleaning</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-menu" aria-controls="probootstrap-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="ion-navicon"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="probootstrap-menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a class="nav-link cursor" [ngx-scroll-to]="'section-welcome'">Заказать</a></li>
        <li class="nav-item"><a class="nav-link cursor" [ngx-scroll-to]="'section-pluses'">Преимущества</a></li>
        <li class="nav-item"><a class="nav-link cursor" [ngx-scroll-to]="'section-details'">Как работаем</a></li>
        <li class="nav-item"><a class="nav-link cursor" [ngx-scroll-to]="'section-equipments'" >Что используем</a></li>
        <li class="nav-item"><a class="nav-link cursor" [ngx-scroll-to]="'section-mobile'">Моб. приложения</a></li>
        <li class="nav-item"><a class="nav-link cursor" [ngx-scroll-to]="'section-contacts'">Контакты</a></li>
      </ul>
    </div>
  </div>
</nav>
