<section class="probootstrap_section" id="section-details" style="background-color: #FFFFFF">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 text-center mb-5">
        <h2 class="display-4 border-bottom probootstrap-section-heading ">Как мы делаем Химчистку</h2>

        <div style="margin-bottom: 40px"></div>

        <div class="media probootstrap-media d-block align-items-stretch mb-4">
          <img src="assets/images/details.jpg" alt="Free Template by ProBootstrap" class="img-fluid">
        </div>

      </div>
    </div>

  </div>
</section>
