<section class="probootstrap_section bg-light" id="section-pluses">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col-md-12">
        <h2 class="display-4 border-bottom probootstrap-section-heading">Наши преимущества</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="media probootstrap-media d-flex align-items-stretch mb-4 ">
          <div class="probootstrap-media-image" style="background-image: url(assets/images/3_1.jpg)">
          </div>
          <div class="media-body">
            <h5 class="mb-3">01. Очистим любые загрязнения</h5>
            <p>Наш сервис основывается на новейших технологиях, качественных хим средствах и эффективной технике </p>

          </div>
        </div>

        <div class="media probootstrap-media d-flex align-items-stretch mb-4 ">
          <div class="probootstrap-media-image" style="background-image: url(assets/images/3_3.jpg)">
          </div>
          <div class="media-body">
            <h5 class="mb-3">02. Профессиональное оборудование</h5>
            <p>Мы используем высокоэффективные чистящие средства и профессиональное оборудование. Какое? Описано ниже</p>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="media probootstrap-media d-flex align-items-stretch mb-4 ">
          <div class="probootstrap-media-image" style="background-image: url(assets/images/3_4.jpg)">
          </div>
          <div class="media-body">
            <h5 class="mb-3">03. Приедем в любое удобное время</h5>
            <p>Выберите время и дату, и мы прибудем как запланировано. Вы можете использовать сайт или мобильное приложение </p>
          </div>
        </div>

        <div class="media probootstrap-media d-flex align-items-stretch mb-4">
          <div class="probootstrap-media-image" style="background-image: url(assets/images/3_8.jpg)">
          </div>
          <div class="media-body">
            <h5 class="mb-3">04. 100% восстановление цвета и качества</h5>
            <p>Знаем как сохранить цвет и качество. Используем высокоэффективные чистящие средства </p>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="media probootstrap-media d-flex align-items-stretch mb-4 ">
          <div class="probootstrap-media-image" style="background-image: url(assets/images/3_6.jpg)">
          </div>
          <div class="media-body">
            <h5 class="mb-3">05. Средства не вызывают аллергию</h5>
            <p>Мы используем средства «Chemspec» и оборудование Santoemma Sabrina-Maxi. Их знают во всем мире как лидеров на рынке </p>
          </div>
        </div>



      </div>
      <div class="col-md-6">

        <div class="media probootstrap-media d-flex align-items-stretch mb-4 ">
          <div class="probootstrap-media-image" style="background-image: url(assets/images/3_2.jpg)">
          </div>
          <div class="media-body">
            <h5 class="mb-3">06. Скидки постоянным клиентам</h5>
            <p> У нас есть скидки и предложения для постоянных клиентов. Используйте мобильное Android приложение! iOs приложение в разработке!</p>
          </div>
        </div>



      </div>
    </div>

  </div>
</section>
