<section class="probootstrap_section bg-light" id="section-pluses">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col-md-12">
        <h2 class="display-4 border-bottom probootstrap-section-heading">Наши преимущества</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="media probootstrap-media d-flex align-items-stretch mb-4 ">
          <div class="probootstrap-media-image" style="background-image: url(assets/images/3_1.jpg)">
          </div>
          <div class="media-body">
            <h5 class="mb-3">01. Очистим любые загрязнения</h5>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>

        <div class="media probootstrap-media d-flex align-items-stretch mb-4 ">
          <div class="probootstrap-media-image" style="background-image: url(assets/images/3_3.jpg)">
          </div>
          <div class="media-body">
            <h5 class="mb-3">02. Профессиональное оборудование</h5>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="media probootstrap-media d-flex align-items-stretch mb-4 ">
          <div class="probootstrap-media-image" style="background-image: url(assets/images/3_4.jpg)">
          </div>
          <div class="media-body">
            <h5 class="mb-3">03. Приедем в любое удобное время</h5>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>

        <div class="media probootstrap-media d-flex align-items-stretch mb-4">
          <div class="probootstrap-media-image" style="background-image: url(assets/images/3_8.jpg)">
          </div>
          <div class="media-body">
            <h5 class="mb-3">04. 100% восстановление цвета и качества</h5>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="media probootstrap-media d-flex align-items-stretch mb-4 ">
          <div class="probootstrap-media-image" style="background-image: url(assets/images/3_6.jpg)">
          </div>
          <div class="media-body">
            <h5 class="mb-3">05. Средства не вызывают аллергию</h5>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>



      </div>
      <div class="col-md-6">

        <div class="media probootstrap-media d-flex align-items-stretch mb-4 ">
          <div class="probootstrap-media-image" style="background-image: url(assets/images/3_2.jpg)">
          </div>
          <div class="media-body">
            <h5 class="mb-3">06. Скидки постояннымклиентам</h5>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>



      </div>
    </div>

  </div>
</section>
