
<section class="probootstrap_section" id="section-mobile" >

  <div class="container">
    <div class="row text-center mb-5 ">
      <div class="col-md-12">
        <h2 class="display-4 border-bottom probootstrap-section-heading">Мобильное приложение</h2>
      </div>
    </div>
  </div>

  <section style="background-image: url('assets/images/hero-bg.jpg');  background-repeat: no-repeat; background-size: cover; padding-top: 80px;">

    <div class="container">
      <div class="row">



        <div class="col-md-6 col-sm-6">
          <div class="block" data-wow-delay="1s">
            <!--<a class="logo" href="#">-->
              <!--<img src="assets/images/logo.png" alt="">-->
            <!--</a>-->
            <!--<h2 class="title">Всегда под рукой.</h2>-->
            <h2 class="title">Используй приложение и получай скидку в 10%!</h2>
            <!--<p class="title_p">Всегда под рукой.</p>-->
            <div class="download-btn">
              <a style="margin-top: 30px" href="https://play.google.com/store/apps/details?id=com.maxb.xclean" class="andriod">
                <img src="assets/images/andriod-button.png" alt="">
              </a>
              <!--<a href="#" class="apple">-->
                <!--<img src="assets/images/apple-button.png" alt="">-->
              <!--</a>-->
            </div>

          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="app-showcase wow fadeInDown" data-wow-delay=".5s">
            <img src="assets/images/iphone.png" alt="">
          </div>
        </div>

      </div>
    </div>

  </section>



</section>
