@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);



.title{
  font-size: 36px;
  color: #1b1b1b;
  font-weight: 300;
}
.title_p {
  font-size: 18px;
  font-weight: 400px;
  color: #d8dde8;
}

ul li {
  list-style: none;
}

.app-showcase {
  text-align: right;
}
.block {
  padding-top: 70px;
}
.block .logo {
  display: inline-block;
  margin-bottom: 70px;
}
.block h2 {
  margin-bottom: 15px;
  color: #fff;
}
.block p {
  margin-bottom: 27px;
  margin-top: 0;
  color: #383838;
}
.block .download-btn a {
  display: inline-block;
  margin-right: 10px;
}



