<section class="probootstrap_section" id="section-equipments">
  <div class="container">
    <div class="row text-center mb-5 ">
      <div class="col-md-12">
        <h2 class="display-4 border-bottom probootstrap-section-heading">Что мы используем</h2>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-6">

        <div class="media probootstrap-media d-block align-items-stretch mb-4">
          <img src="assets/images/7_1.png" alt="Free Template by ProBootstrap" class="img-fluid">
          <div class="media-body">
            <h5 class="mb-3">Santoemma Sabrina-Maxi</h5>
            <p>Данный аппарат оборудован мотором с высокой мощностью всасывания, поэтому можно собрать до 90% нанесенного раствора, что позволяет сократить время высыхания ковровых покрытий. Мембранный насос создает давление до 9 атмосфер, под его действием раствор воды с моющим средством проникает глубоко внутрь, мгновенно всасывается насадкой аппарата, собирается в баке для отработанной жидкости. Экстракционный способ позволяет удалить максимальное количество грязи за минимальное время.</p>
          </div>
        </div>


      </div>

      <div class="col-md-6">

        <div class="media probootstrap-media d-block align-items-stretch mb-4">
          <img src="assets/images/7_2.png" alt="Free Template by ProBootstrap" class="img-fluid">
          <div class="media-body">
            <h5 class="mb-3">Средства «Chemspec»</h5>
            <p>Вот уже несколько десятилетий продукцию «Chemspec» знают во всём мире. Вся продукция, изготавливаемая этим американским производителем, проходит неоднократное тестирование и независимую экспертизу, что подтверждается соответствующими сертификатами и заключениями. В настоящее время профессиональные моющие средства «Chemspec» являются лидерами на рынке.</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
